/* --------------------------- */
/* ----- uzenet article ----- */
/* --------------------------- */


article.uz {
  display: grid;
  grid-template-columns: auto 6em;
  grid-template-rows: auto;
  grid-template-areas: 
    "cimzett cimzett"
    "ltextarea ltextarea"
    ". lkuldes";
}

article.uz .cimzett{
  grid-area: cimzett;
}

article.uz .level-textarea{
  grid-area: ltextarea;
  background-color: var(--vilagos);
  color: var(--sotet);
  border-radius: 5px;
  padding:5px;
  font-style: italic;
  font-size: .8em;
}

article.uz .level-kuldes{
  grid-area: lkuldes;
  justify-self:right;
}



article.uz textarea{
    width: 100%;
}
